/*============================Import fonts============================*/
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Marmelad&family=Poller+One&display=swap");

/*============================Global style============================*/
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Guntur", sans-serif;
  font-weight: 300;
  color: whitesmoke !important;
  overflow-x: hidden;
  background: url("../images/stars_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*=============================Header Style=============================*/

.row {
  height: 100%;
}
.col-8,
.col-4 {
  background-color: #00ca00;
  border: #000 1px solid;
  height: 50%;
}

h1 {
  font-family: "Poller One", cursive;
  color: whitesmoke;
  float: left;
  text-align: center;
  margin: 10px 20px;
  font-size: 2rem !important;
}

header nav {
  float: right;
  position: relative;
  margin-top: 10px;
}

header li a {
  text-decoration: none;
  color: #fff;
}

.nav-links li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  font-size: 18px;
  padding: 5px 10px;
}

.nav-links li:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00ca00;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.nav-links li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

#highscore-btn {
  color: #000;
  background-color: yellow;
  transition: background-color 0.5s;
}
#highscore-btn:hover {
  background-color: rgba(255, 238, 0, 0.6);
}

#new-game-btn {
  color: #ffffff;
  background-color: rgb(0, 26, 255);
  transition: background-color 0.5s;
}
#new-game-btn:hover {
  background-color: rgba(0, 26, 255, 0.6);
}

#game-size-container {
  background-color: #00ca00;
  aspect-ratio: 4/3;
  max-width: 100vw;
  max-height: 100vh;
  touch-action: none;
}

/*=======================Modal======================*/

#highscoreModalLabel {
  color: black;
}

#highscore-list {
  color: black;
}

h2 {
  font-family: "Marmelad", sans-serif;
  color: whitesmoke;
}

/*============================Dice Container============================*/

.dice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-area {
  width: 100%;
  height: 95%;
  border: 1px solid black;
  background-color: aqua;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


.dice-red {
  background-color: red;
  color: red;
}
.dice-blue {
  background-color: blue;
  color: blue;
}
.dice-green {
  background-color: green;
  color: green;
}
.dice-yellow {
  background-color: yellow;
  color: yellow;
}
.dice-black {
  background-color: black;
  color: black;
}

.dice-one,
.dice-two,
.dice-three,
.dice-four,
.dice-five,
.dice-six {
  font-size: 3rem;
  color: inherit;
  border: 2px solid white;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1px 1px;
}


.dice {
  width: 7vmin;
  height: 7vmin;
  margin: 5px;
  padding: 0.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

.dice > svg {
  stroke: #fff;
  fill: #fff;
}

.dice.dice-yellow > svg {
  stroke: #000000;
  fill: #000000;

}

.blender-area {
  width: 100%;

  border: 2px solid #fff;
  border-radius: 20px;
  margin-top: 10px;
}

.blender-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blend-dice-btn {
  width: 90%;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
}

#game-button-area {
  height: 100%;
}

#roll-dice {
  width: 40%;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 1.3rem;
}

.icon {
  padding: 0 5px;
}

.gentle-hover-shake:hover {
  animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*====================================Villain Container===============================*/

.villain-container {
  background-color: rgba(179, 37, 42, 0.7);
  border-radius: 5px;
  min-height: fit-content;
}

#fighting-point-field {
  height: 100%;
  background-color: rgb(255, 127, 206);
}

.box-row {
  margin: 10px 0;
}

.box-by-one {
  border: 2px solid black;
  width: 80%;
  height: 50px;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: border 0.2s;
}

.box-by-two {
  border: 2px solid black;
  width: 80%;
  height: 50px;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-by-four {
  border: 2px solid black;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#droppable {
  border: 2px solid green;
}

#droppable:hover {
  border: 2px solid gray;
}

.top-box-row {
  display: flex;
  justify-content: center;
  margin-top: 10px !important;
}

.middle-box-row {
  display: flex;
  justify-content: center;
}

.bottom-box-row {
  display: flex;
  justify-content: center;
}
/*===========================Villain Image & Description===========================*/

.villain-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.villain-img {
  max-width: 60%;
  height: auto;
}

.villain-desc {
  border: 1px solid black;
  margin: 5px 0;
  width: fit-content;
  font-size: 16px;
}

/*============================Hero Container============================*/

.hero-container {
  background-color: rgba(33, 184, 33, 0.7);
  border-radius: 5px;
  margin-top: 80px !important;
  min-height: 350px;
}

.hero-portfolio {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colour-btn {
  width: 80%;
  padding: 10px 0px;
  margin: 10px;
  border-radius: 30px;
}

#red {
  border: 1px solid red;
}

#blue {
  border: 1px solid blue;
}

#green {
  border: 1px solid green;
}

#yellow {
  border: 1px solid yellow;
}

#black {
  border: 1px solid black;
}

#red:hover {
  background-color: red;
}

#blue:hover {
  background-color: blue;
  color: #fff;
}

#green:hover {
  background-color: green;
  color: #fff;
}

#yellow:hover {
  background-color: yellow;
}

#black:hover {
  background-color: black;
  color: #fff;
}

.colour-amount {
  float: right;
  margin-right: 5px;
}

#game-hero-img {
  height: 90%;
  width: 100%;
  background-color: aqua;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(5rem);
}

/*Footer Style*/
footer {
  background-color: rgb(27, 27, 47, 0.9);
  text-align: center;
}

/*========================Media Queries===========================*/

@media only screen and (max-width: 1200px) {
  .villain-container {
    margin-top: 5px !important;
  }
  .hero-container {
    margin-top: 5px !important;
    height: 300px;
  }
  .colour-btn {
    height: 30px;
    padding: 2px;
  }
  .hero-portfolio {
    flex-direction: row;
  }
  .hero-portfolio img {
    width: 250px;
  }

  .villain-img {
    width: 40%;
  }
}

@media only screen and (max-width: 990px) {
  .logo {
    display: none;
  }
  header nav {
    float: left;
  }
  .nav-links li {
    display: block;
  }
}

@media only screen and (max-width: 990px) {
  .box-by-one,
  .box-by-two,
  .box-by-four {
    margin: 2px;
    width: 100%;
  }

  .blender-area {
    min-height: 150px;
  }
}
.villain-container {
  margin-top: 5px !important;
}
.hero-container {
  margin-top: 5px !important;
}
.villain-img {
  width: 40%;
}

/*  --------------------------   Hero section START ------------------------ */

.modal-title {
  color: #000;
}

.power-wrapper {
  height: 20%;
}

.power-container {
  height: 50%;
}

.full-height {
  height: 100% !important;
}

.health-container {
  width: 100%;
  height: 50%;
  border: 2px solid #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthBar {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 242);
  position: relative;
}

#healthRemaining {
  width: 50%;
  height: 100%;
  background-color: rgb(17, 65, 17);
  position: absolute;
}

.health-heart,
#health-points {
  color: white;
  position: absolute;
}

.health-heart {
  top: 20%;
  left: 5%;
}

#health-points {
  top: -10%;
  right: 5%;
}

/*  --------------------------   Hero section END ------------------------ */

/*  --------------------------   Vilain section Start------------------------ */
.villain-modal-description {
  color: #000;
}

.red-area {
  background-color: red;
}
.blue-area {
  background-color: blue;
}
.green-area {
  background-color: green;
}

.yellow-area {
  background-color: yellow;
}

.size-1 {
  border: 2px solid black;
  padding: 10px;
  width: 50px;
  height: 50px;
}
.size-2 {
  padding: 10px;
  border: 2px solid black;
  width: 100px;
  height: 50px;
}
.size-3 {
  padding: 10px;
  border: 2px solid black;
  width: 150px;
  height: 50px;
}
.size-4 {
  padding: 10px;
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

/*  --------------------------   Vilain section End------------------------ */

/*============================ Game Modal Style ============================*/

/*============================ General Game Modal Style ============================*/
.modal-content {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.modal-title {
  color: white;
}

/*============================ Reward Modal Style ============================*/

#confirm-reward-btn {
  width: fit-content;
}

#reward-container {
  border: inset black 1px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#reward-container h5 {
  text-align: center;
}

#reward-wrapper {
  display: flex;
  justify-content: space-between;
}

/*============================ Hero Modal Style ============================*/

.modal-content .hero-img {
  max-height: 200px;
}

.highlighted-square {
  background-color: yellowgreen;
}

.villain-modal-description {
  color: white;
}
