/*============================Import fonts============================*/
/* @import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Marmelad&family=Poller+One&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/star-wars");

/*============================Global style============================*/
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Hind Guntur", sans-serif; */
  font-family: "Star Wars", sans-serif;
  font-weight: 900;
  color: whitesmoke !important;
  overflow-x: hidden;
  background: url("../images/stars_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*=============================Header Style=============================*/

.row {
  height: 100%;
}
.col-8,
.col-4 {
  height: 50%;
}

h1 {
  font-family: "Poller One", cursive;
  color: whitesmoke;
  float: left;
  text-align: center;
  margin: 10px 20px;
  font-size: 2rem !important;
}

header nav {
  float: left;
  position: relative;
  margin-top: 10px;
}

header li a {
  text-decoration: none;
  color: #fff;
}

#highscore-btn {
  color: #000;
  background-color: yellow;
  transition: background-color 0.5s;
}
#highscore-btn:hover {
  background-color: rgba(255, 238, 0, 0.6);
}

#new-game-btn {
  color: #ffffff;
  background-color: rgb(0, 26, 255);
  transition: background-color 0.5s;
}
#new-game-btn:hover {
  background-color: rgba(0, 26, 255, 0.6);
}

#game-size-container {
  background-color: rgba(14, 41, 75, 0.7);
  aspect-ratio: 4/3;
  max-width: 100vw;
  max-height: 100vh;
  touch-action: none;
  padding: 10px;
}

/*=======================Modal======================*/

#highscoreModalLabel {
  color: black;
}

#highscore-list {
  color: black;
}

h2 {
  font-family: "Marmelad", sans-serif;
  color: whitesmoke;
}

/*============================Dice Container============================*/

.points-badge {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25% !important;
  z-index: 50;
}

.score-points {
  font-size: 0.7rem;
}

.dice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dice-area {
  width: 100%;
  height: 95%;
  border: 2px outset black;
  background-color: rgba(180, 180, 180, 0.3);
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 20px;
}

.dice-red {
  background-color: red;
}
.dice-blue {
  background-color: blue;
}
.dice-green {
  background-color: green;
}
.dice-yellow {
  background-color: yellow;
}
.dice-black {
  background-color: black;
}

.dice-one,
.dice-two,
.dice-three,
.dice-four,
.dice-five,
.dice-six {
  font-size: 3rem;
  color: inherit;
  border: 2px solid white;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1px 1px;
}

.dice {
  width: 7vmin;
  height: 7vmin;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

.dice > svg {
  margin: 0.7vmin;
  stroke: #fff;
  fill: #fff;
}

.dice.dice-yellow > svg {
  stroke: #000000;
  fill: #000000;
}

.blender-area {
  width: 10vmin;
  height: 40vmin;

  border: 2px solid #fff;
  border-radius: 20px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blender-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#blender-outcome {
  width: 10vmin;
  height: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blender-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 10vmin;
  height: 20vmin;
}

.highlight-blender {
  border: 2px solid #ff0000;
}

#game-button-area {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.icon {
  padding: 0 5px;
}

.in-game-btn {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px outset black;
  background: transparent;
  font-size: 1.3rem;
  color: white;
}

.in-game-btn:hover {
  border: 2px inset black;
  background: rgb(0, 0, 0, 0.1);
}

.gentle-hover-shake:hover {
  animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*====================================Combat Box===============================*/

/*====================================Villain Container===============================*/

.villain-container {
  background-color: rgba(179, 37, 42, 0.7);
  border-radius: 5px;
  min-height: fit-content;
  margin-top: 5px !important;
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#fighting-point-field {
  height: 100%;
  background-color: rgba(180, 180, 180, 0.3);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 2px outset black;
  border-radius: 20px;
}

.box-row {
  margin: 10px 0;
}

.box-by-one {
  border: 2px solid black;
  width: 80%;
  height: 50px;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: border 0.2s;
}

.box-by-two {
  border: 2px solid black;
  width: 80%;
  height: 50px;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-by-four {
  border: 2px solid black;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#droppable {
  border: 2px solid green;
}

#droppable:hover {
  border: 2px solid gray;
}

.top-box-row {
  display: flex;
  justify-content: center;
  margin-top: 10px !important;
}

.middle-box-row {
  display: flex;
  justify-content: center;
}

.bottom-box-row {
  display: flex;
  justify-content: center;
}
/*===========================Villain Image & Description===========================*/

.villain-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.villain-desc {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  font-size: 16px;
}

#villian-description {
  margin: 0;
}

#villain-image {
  height: 80%;
  width: 80%;
}

/*============================Hero Container============================*/

.hero-container {
  background-color: rgba(33, 184, 33, 0.7);
  border-radius: 5px;
  margin-top: 5px !important;
  min-height: 350px;
}

.hero-portfolio {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colour-btn {
  width: 80%;
  padding: 10px 0px;
  margin: 10px;
  border-radius: 30px;
}

.highlighted-square {
  background-color: yellowgreen;
}

.colour-amount {
  float: right;
  margin-right: 5px;
}

#game-hero-img {
  height: 90%;
  width: 100%;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(5rem);
}

/*Footer Style*/
footer {
  background-color: rgb(27, 27, 47, 0.9);
  text-align: center;
}

/*========================Rewards===========================*/

.dice-b-red {
  border: red 1px solid;
  background-color: #0000002a;
}
.dice-b-blue {
  border: blue 1px solid;
  background-color: #0000002a;
}
.dice-b-green {
  border: green 1px solid;
  background-color: #0000002a;
}
.dice-b-yellow {
  border: yellow 1px solid;
  background-color: #0000002a;
}
.dice-b-black {
  border: black 1px solid;
  background-color: #0000002a;
}

.dice {
  width: 7vmin;
  height: 7vmin;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

.reward-option {
  padding: 20px;
  border: #000 outset 2px;
  height: fit-content;
  border-radius: 10px;
}

.stack-top {
  position: relative;
  z-index: 9;
  bottom: 50px;
  left: 30px;
}

/*========================Media Queries===========================*/

@media only screen and (max-width: 1200px) {
  .villain-container {
    margin-top: 5px !important;
  }
  .hero-container {
    margin-top: 5px !important;
    height: 300px;
  }
  .colour-btn {
    height: 30px;
    padding: 2px;
  }
  .hero-portfolio {
    flex-direction: row;
  }
  .hero-portfolio img {
    width: 250px;
  }

  .villain-img {
    width: 40%;
  }
}

@media only screen and (max-width: 990px) {
  .logo {
    display: none;
  }
  header nav {
    float: left;
  }
  .nav-links li {
    display: block;
  }
  .villain-desc {
    font-size: 0.8rem;
  }
  
  #game-button-area {
    font-size: 0.8rem;
  }
  
  .in-game-btn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 990px) {
  .box-by-one,
  .box-by-two,
  .box-by-four {
    margin: 2px;
    width: 100%;
  }
}

.villain-img {
  width: 40%;
}

/*  --------------------------   Hero section START ------------------------ */

.modal-title {
  color: #000;
}

.power-wrapper {
  height: 20%;
}

.power-container {
  height: 50%;
}

.full-height {
  height: 100% !important;
}

.power-badges {
  width: 100%;
}

.health-container {
  width: 100%;
  height: 50%;
  border: 2px solid #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.healthBar {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 242);
  position: relative;
}

#healthRemaining {
  width: 50%;
  height: 100%;
  background-color: rgb(17, 65, 17);
  position: absolute;
}

.health-heart,
#health-points {
  color: white;
  position: absolute;
}

.health-heart {
  top: 20%;
  left: 5%;
}

#health-points {
  top: -10%;
  right: 5%;
}

/*  --------------------------   Hero section END ------------------------ */

/*  --------------------------   Villain section Start------------------------ */
.carousel-item > img {
  width: 100%;
}

.villain-modal-description {
  color: #000;
}

.villain-modal-description > img {
  width: 100%;
}

.red-area {
  background-color: red;
}

.red-area.highlighted-square {
  background-color: lightcoral;
}

.blue-area {
  background-color: blue;
}

.blue-area.highlighted-square {
  background-color: lightseagreen;
}

.green-area {
  background-color: green;
}

.green-area.highlighted-square {
  background-color: lightgreen;
}

.yellow-area {
  background-color: yellow;
}

.yellow-area.highlighted-square {
  background-color: lightyellow;
}


.black-area {
  background-color: rgb(0, 0, 0);
}

.black-area.highlighted-square {
  background-color: lightslategrey;
}

.combat-box {
  margin: 0.5vmin;
  display: flex;
  justify-content: flex-start;
}

.size-1 {
  border: 2px solid black;
  width: 8vmin;
  height: 8.5vmin;
}
.size-2 {
  border: 2px solid black;
  width: 16vmin;
  height: 8.5vmin;
}
.size-3 {
  border: 2px solid black;
  width: 24vmin;
  height: 8.5vmin;
}

/*  --------------------------   Villain section End------------------------ */

/*============================ Game Modal Style ============================*/

/*============================ General Game Modal Style ============================*/
.modal-content {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.modal-title {
  color: white;
}

/*============================ Reward Modal Style ============================*/

#confirm-reward-btn {
  width: fit-content;
}

#reward-container {
  border: inset black 1px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#reward-container h5 {
  text-align: center;
}

#reward-wrapper {
  display: flex;
  justify-content: space-between;
}

/*============================ Hero Modal Style ============================*/

.modal-content .hero-img {
  max-height: 200px;
}

.villain-modal-description {
  color: white;
}


@media only screen and (max-width: 990px) {
  .villain-desc {
    font-size: 0.6rem;
  }
  
  #game-button-area {
    font-size: 0.6rem;
  }
  
  .in-game-btn {
    font-size: 0.6rem;
  }
}