@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Marmelad&family=Poller+One&display=swap');

    *{
        padding: 0;
        border: 0;
        margin: 0;
    }
    
    body{
        font-family: 'Hind Guntur', sans-serif;
        font-weight: 300;
        color: whitesmoke !important;
        }
    
    h1 {
        font-family: 'Poller One', cursive;
        color: whitesmoke;
    }
    
    h2{
        font-family: 'Marmelad', sans-serif;
        color: whitesmoke
    }
    /*Background Image*/
    #stars{
        background: url('../images/stars_background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    
    /*Header Style*/
    header{
        text-align: center;
    }
    
    /*Content Style*/
    
    /*Dice Container*/
    
    .dice-container {
        background-color: bisque;
    }
    
    /*Villain Container*/
    .villain-container {
        background-color: rgb(236, 77, 77);
    }
    /*Hero Container*/
    
    .hero-container {
        background-color: azure;
        display: block;
    }
    
    .hero-container img {
        width: 100%;
    }
    
    .btn-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .colour-btn {
        width: 80%;
        padding: 10px 0px;
        margin: 10px;
        border-radius: 30px;
    }

    #red {
        border: 1px solid red;
    }
    #blue {
        border: 1px solid blue;
    }
    #green {
        border: 1px solid green;
    }
    #yellow {
        border: 1px solid yellow;
    }
    #black {
        border: 1px solid black;
    }

    #red:hover{
        background-color: red;
    }
    #blue:hover{
        background-color: blue;
        color: #fff;
    }
    #green:hover{
        background-color: green;
    }
    #yellow:hover{
        background-color: yellow;
    }
    #black:hover{
        background-color: black;
        color: #fff;
    }
    
    
    
    /*Footer Style*/
    footer{
        background-color: rgb(27, 27, 47, 0.9);
        text-align: center;
    
    }
