@charset"utf-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}

#fighting-point-field{
    width: 250px;
    height: 500px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    display: inline-flex;
}


#fighting-point-field.box-container{
    display: grid;
    /* other styles go here */
  }

#villain-image{
    width: 300px;
    height: 250px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}
#villain-description{
    width: 250px;
    height: 150px;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}

.red-area{
    background-color: red;
}
.blue-area{
    background-color: blue;
}
.green-area{
    background-color: green;
}

.yellow-area{
    background-color: yellow;
}

.size-1{
    border: 2px solid black;
    padding: 10px;
    width: 50px;
    height: 50px;
}
.size-2{
    padding: 10px;
    border: 2px solid black;
    width: 100px;
    height: 50px;
}
.size-3{
    padding: 10px;
    border: 2px solid black;
    width: 150px;
    height: 50px;
}
.size-4{
    padding: 10px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}